[Desktop Entry]
Type=Service
MimeType=video/*;
Actions=import_to_kdenlive
X-KDE-Priority=TopLevel

[Desktop Action import_to_kdenlive]
Name=Import to Kdenlive
Icon=kdenlive
TryExec=python
Exec=python ~/.local/share/kio/servicemenus/import_to_kdenlive_script.py "%U"

